MYSQL_DATABASE=blog
MYSQL_USER=blog
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-root-password
DATABASE_URL=mysql://blog:change-me@127.0.0.1:3306/blog
DB_CONNECTION_LIMIT=10
PORT=7200
NODE_ENV=development
